<!DOCTYPE html>
<!--[if lt IE 9]><html lang="{{ lang }}" class="no-js old-ie"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ lang }}" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/favicon.ico?v=8">
    <meta name="description" content="{{ description }}">
    <link href="css/main.min.css" rel="stylesheet">
</head>
<body id="{{className}}">
{{> body }}
{{#dev}}{{/dev}}
<script src="js/libs.min.js"></script>
<script src="js/app.min.js"></script>
</body>
</html>